html {
  scroll-behaviour: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: #f9f9f9;
  font-family: arial, helvetica;
}

a {
  border: none;
}
